/*
    Neste ficheiro fica o código CSS que é partilhado por todas as páginas do site.
    Ou seja, todos os aspetos de design do site que são iguais em todo o site aparecem 
    neste ficheiro.
*/

/* Body */

body{
    color: white;
    background-color: rgb(49, 48, 48);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */

header{
    background: rgb(248, 36, 36);
    padding: 20px;
    height: 60px;
    margin: 0%;
}
 
header a{
    color: white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

header ul{
    display: inline-block;
}

header .ul2{
    position: relative;
    top: -20px;
}

header .ul2 a{
    display: inline-block;
    margin-right: 10px;
}

header .utilizador{
    position: relative;
    top: -10px;
    text-indent: -3000px;
    background-image: url('imagens/utilizador.png');
    background-size: 30px;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

header .definições{
    position: relative;
    top: -10px;
    text-indent: -3000px;
    background-image: url('imagens/definições.png');
    background-size: 30px;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

header .opções{
    position: relative;
    top: -10px;
    text-indent: -3000px;
    background-image: url('imagens/interface.png');
    background-size: 30px;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

header .ul1 a{
    background-image: url('imagens/FórumLogo.png');
    background-size: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    height: 70px;
    width: 50px;
}

header .ul1{
    margin-right: 1200px;
    color: black;
    position: relative;
    top: -20px;
    list-style-type: none;
    font-size: 30px;
}

header .logo{
    position: relative;
    top: -10px;
}

/* Footer */
