/*
    Neste ficheiro fica o código CSS que é partilhado por todas as páginas do site.
    Ou seja, todos os aspetos de design do site que são iguais em todo o site aparecem 
    neste ficheiro.
*/

body{
    background: rgb(58, 58, 58);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background: black;
    background-image: url('imagens/Sawyer_Pilar.png');
    background-size: 100%;
    background-position: center;
    padding: 20px;  
    height: 400px;
    text-align: center;
}

header .Titulo{
    text-indent: -1500px;
}

header .logo a{
    background-image: url('imagens/genetix.jpg');
    display: inline-block;
    background-size: 160px;
    background-repeat: no-repeat;
    text-indent: -99999px;
    height: 90px;
    width: 160px;
    position: relative;
    top: -70px;
}

a{
    text-decoration: none;
    font-size: 15px;
    margin: 30px; 
}

a:visited{
    color: white;
}

a:hover{
    text-decoration: underline;
}

section{
    background: white;
    color: gray;
    padding: 20px; 
    display: flex;
    flex-direction: row;
}

div{
    background: green;
    color: white;
    margin: auto;
    width: 100px;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    display: inline-block;
    margin-right: 20px;
}

footer{
    background: black;
    padding: 10px 20px; 
}